# Python artifacts
__pycache__/
*.py[cod]
*.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints/

# Environment & IDE
.env
.venv
env/
venv/
ENV/
.idea/
.vscode/
*.swp
.DS_Store

# AWS SAM
.aws-sam/
samconfig.toml

# ML artifacts
*.pkl
*.model
*.h5
*.joblib
/models/

# Data files (sensitive or large)
*.xlsx
*.csv

# Temporary files
tempCodeRunnerFile.py
*models

# Ignore the entire Sagemaker folder
Sagemaker/
data/synthetic/mostly_ai/validation_report_20250717_171542.json
        data/synthetic/mostly_ai/validation_report_20250717_171742.json
        data/synthetic/mostly_ai/validation_report_20250717_172803.json
        migration_backup/tonic_backup_20250717_171539/
        migration_backup/tonic_backup_20250717_171740/
        migration_backup/tonic_backup_20250717_172801/
        migration_backup/tonic_backup_20250717_172845/
        migration_backup/tonic_backup_20250717_175409/
        migration_backup/tonic_backup_20250717_180037/ 
        migration_backup/tonic_backup_20250717_180140/
        migration_backup/tonic_backup_20250717_180202/
        migration_backup/tonic_backup_20250717_180456/
        migration_backup/tonic_backup_20250717_181054/
        migration_backup/tonic_backup_20250717_181619/
        migration_backup/tonic_backup_20250717_181831/
        migration_backup/tonic_backup_20250717_182256/